/*COLORS*/
/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body, html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-weight: 400;
  resize: both;
  border: 1px solid red;
}

/*Page container*/
.main-wrapper {
  color: #00252e;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 150px 1400px 2800px 300px 600px;
  grid-template-areas: "nav-link" "community" "benefits" "register" "footer";
  /*Navigation bar*/
  /*Legend or Build community introduction section*/
  /*-Benefits of product section*/
  /*Registration section*/
  /*Footer section*/
}

.main-wrapper nav, .main-wrapper section {
  padding: 50px 0;
}

.main-wrapper .nav-link {
  grid-area: nav-link;
  display: flex;
  justify-content: space-between;
  padding: 50px 5%;
}

.main-wrapper .nav-link a {
  text-decoration: none;
  color: #ff52bf;
  border: 1px solid #ff52bf;
  padding: 10px 50px;
  border-radius: 40px;
  font-weight: 600;
}

.main-wrapper .nav-link a:hover, .main-wrapper .nav-link a:focus {
  border: 1px solid #ff8fd8;
  color: #ff8fd8;
}

.main-wrapper .community {
  grid-area: community;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 50px 10%;
}

.main-wrapper .community .build {
  padding: 0 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20%;
  text-align: center;
}

.main-wrapper .community .build h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 60px;
}

.main-wrapper .community .build p {
  width: 35%;
}

.main-wrapper .community .build p a {
  text-decoration: none;
  color: white;
  background-color: #ff52bf;
  padding: 10px 15%;
  border-radius: 40px;
  font-weight: 600;
}

.main-wrapper .community .build p a:hover, .main-wrapper .community .build p a:focus {
  background-color: #ff8fd8;
}

.main-wrapper .community figure {
  height: 60%;
  display: flex;
  justify-content: center;
}

.main-wrapper .community figure image {
  width: 100%;
}

.main-wrapper .community .stats {
  padding: 0 2.5%;
  display: flex;
  justify-content: space-between;
  height: 15%;
  padding: 0 15%;
}

.main-wrapper .community .stats ul {
  list-style: none;
}

.main-wrapper .community .stats ul li {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main-wrapper .community .stats ul li img {
  width: 50px;
}

.main-wrapper .community .stats ul li span {
  font-size: 70px;
  font-weight: 700;
  font-family: Poppins;
}

.main-wrapper .benefits {
  grid-area: benefits;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-wrapper .benefits .users-wrapper .border-top, .main-wrapper .benefits .grow-wrapper .border-top {
  background-image: url(images/bg-section-top-desktop-1.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main-wrapper .benefits .users-wrapper .border-bottom, .main-wrapper .benefits .grow-wrapper .border-bottom {
  background-image: url(images/bg-section-bottom-desktop-2.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main-wrapper .benefits .ben-wrappers {
  width: 100%;
}

.main-wrapper .benefits .ben-wrappers .border-top, .main-wrapper .benefits .ben-wrappers .border-bottom {
  width: 100%;
  height: 100px;
}

.main-wrapper .benefits .ben-wrappers article {
  padding: 0 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-wrapper .benefits .ben-wrappers article .benefit-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-wrapper .benefits .ben-wrappers article .benefit-text p {
  margin-top: 20px;
}

.main-wrapper .benefits .ben-wrappers article .benefit-text h2 {
  font-size: 50px;
  font-family: Poppins;
  font-weight: 700;
}

.main-wrapper .benefits .ben-wrappers article figure {
  width: 50%;
}

.main-wrapper .benefits .ben-wrappers article figure img {
  width: 100%;
  height: 100%;
}

.main-wrapper .benefits .ben-wrappers .users, .main-wrapper .benefits .ben-wrappers .grow {
  background-color: #f5faff;
}

.main-wrapper .register {
  grid-area: register;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-wrapper .register h2 {
  font-size: 50px;
  font-weight: 700;
  font-family: Poppins;
}

.main-wrapper .register p {
  margin-top: 30px;
}

.main-wrapper .register p a {
  text-decoration: none;
  color: white;
  background-color: #ff52bf;
  padding: 15px 10%;
  border-radius: 40px;
  font-weight: 600;
}

.main-wrapper .register p a:hover, .main-wrapper .register p a:focus {
  background-color: #ff8fd8;
}

.main-wrapper .footer {
  grid-area: footer;
  padding-top: 50px;
  color: white;
}

.main-wrapper .footer .footer-top {
  width: 100%;
  height: 20%;
  background-image: url(images/bg-footer-top-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main-wrapper .footer .footer-wrapper {
  padding: 0 5%;
  width: 100%;
  height: 75%;
  margin-bottom: 0;
  background-color: #00252e;
  display: flex;
  justify-content: space-between;
}

.main-wrapper .footer .footer-wrapper .contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-wrapper .footer .footer-wrapper .contact p {
  width: 45%;
}

.main-wrapper .footer .footer-wrapper .contact .reach .phone {
  list-style-image: url(images/icon-phone.svg);
  list-style-position: inside;
}

.main-wrapper .footer .footer-wrapper .contact .reach .phone a {
  color: white;
  text-decoration: none;
}

.main-wrapper .footer .footer-wrapper .contact .reach .mail {
  list-style-image: url(images/icon-email.svg);
  list-style-position: inside;
}

.main-wrapper .footer .footer-wrapper .contact .reach .mail a {
  color: white;
  text-decoration: none;
}

.main-wrapper .footer .footer-wrapper .contact .socials li {
  list-style: none;
  display: inline;
}

.main-wrapper .footer .footer-wrapper .contact .socials li a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin-right: 10px;
}

.main-wrapper .footer .footer-wrapper .contact .socials li a:hover, .main-wrapper .footer .footer-wrapper .contact .socials li a:focus {
  color: #4343f7;
}

.main-wrapper .footer .footer-wrapper .newsletter {
  width: 50%;
  padding-top: 20px;
}

.main-wrapper .footer .footer-wrapper .newsletter h2 {
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 20px;
}

.main-wrapper .footer .footer-wrapper .newsletter p {
  margin-bottom: 20px;
}

.main-wrapper .footer .footer-wrapper .newsletter .email {
  width: 60%;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
}

.main-wrapper .footer .footer-wrapper .newsletter button {
  height: 40px;
  border: none;
  width: 20%;
  margin-left: 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ff52bf;
  color: white;
  font-family: Poppins;
  font-weight: 600;
}

.main-wrapper .footer .footer-wrapper .newsletter button:focus, .main-wrapper .footer .footer-wrapper .newsletter button:hover {
  background-color: #ff8fd8;
}

.main-wrapper .footer .attribution {
  font-size: 11px;
  text-align: center;
  padding: 10px 0;
  background-color: #00252e;
  height: 5%;
}

.main-wrapper .footer .attribution a {
  color: #ff52bf;
}

/*RESPONSIVESS FOR VARIOUS SCREEN SIZES*/
@media screen and (max-width: 1440px) {
  .main-wrapper {
    grid-template-rows: 150px 1800px 2800px 300px 600px;
  }
  .main-wrapper .community .build p {
    width: 50%;
  }
}

@media screen and (max-width: 1280px) {
  .main-wrapper {
    grid-template-rows: 150px 1200px 1800px 300px 600px;
  }
  .main-wrapper section {
    padding: 0;
  }
  .main-wrapper .community {
    padding: 25px 5%;
  }
  .main-wrapper .community .build {
    height: 30%;
  }
  .main-wrapper .community .build h1 {
    font-size: 50px;
  }
  .main-wrapper .community .build p {
    width: 100%;
  }
  .main-wrapper .community .image-wrapper {
    width: 100%;
    height: 50%;
  }
  .main-wrapper .community .image-wrapper img {
    width: 100%;
  }
  .main-wrapper .community .stats {
    padding: 0;
  }
  .main-wrapper .community .stats ul li img {
    width: 50px;
  }
  .main-wrapper .community .stats ul li span {
    font-size: 60px;
  }
  .main-wrapper .benefits .ben-wrappers {
    height: 100%;
  }
  .main-wrapper .benefits .ben-wrappers article {
    padding: 0 2.5%;
  }
  .main-wrapper .benefits .ben-wrappers article .benefit-text {
    width: 48%;
    text-align: center;
  }
  .main-wrapper .benefits .ben-wrappers article .benefit-text h2 {
    font-size: 35px;
  }
  .main-wrapper .benefits .ben-wrappers article .image-wrapper {
    width: 48;
  }
  .main-wrapper .register {
    padding: 0 2.5%;
  }
  .main-wrapper .register h2 {
    font-size: 40px;
  }
  .main-wrapper .register p a {
    padding: 10px 25px;
    font-size: 14px;
  }
  .main-wrapper .footer .footer-wrapper {
    padding: 0 2.5%;
  }
  .main-wrapper .footer .footer-wrapper .contact {
    width: 48%;
  }
  .main-wrapper .footer .footer-wrapper .contact p {
    width: 100%;
  }
  .main-wrapper .footer .footer-wrapper .newsletter {
    width: 48%;
  }
  .main-wrapper .footer .footer-wrapper .newsletter .email {
    width: 100%;
  }
  .main-wrapper .footer .footer-wrapper .newsletter button {
    float: right;
    margin-top: 10px;
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .main-wrapper {
    grid-template-rows: 150px 1200px 1500px 300px 600px;
  }
  .main-wrapper section {
    padding: 0;
  }
  .main-wrapper .nav-link {
    padding: 20 2%;
  }
  .main-wrapper .nav-link a {
    padding: 10px 25px;
    font-size: 14px;
  }
  .main-wrapper .nav-link img {
    width: 30%;
  }
  .main-wrapper .community {
    padding: 25px 5%;
  }
  .main-wrapper .community .build {
    height: 30%;
  }
  .main-wrapper .community .build h1 {
    font-size: 40px;
  }
  .main-wrapper .community .build p {
    width: 100%;
  }
  .main-wrapper .community .image-wrapper {
    width: 100%;
    height: 50%;
  }
  .main-wrapper .community .image-wrapper img {
    width: 100%;
  }
  .main-wrapper .community .stats {
    padding: 0;
  }
  .main-wrapper .community .stats ul li {
    font-size: 14px;
  }
  .main-wrapper .community .stats ul li img {
    width: 40px;
  }
  .main-wrapper .community .stats ul li span {
    font-size: 50px;
  }
  .main-wrapper .benefits .ben-wrappers {
    height: 100%;
  }
  .main-wrapper .benefits .ben-wrappers article {
    padding: 0 2.5%;
  }
  .main-wrapper .benefits .ben-wrappers article .benefit-text {
    width: 48%;
    text-align: center;
  }
  .main-wrapper .benefits .ben-wrappers article .benefit-text h2 {
    font-size: 30px;
  }
  .main-wrapper .benefits .ben-wrappers article .image-wrapper {
    width: 48;
  }
  .main-wrapper .register {
    padding: 0 2.5%;
  }
  .main-wrapper .register h2 {
    font-size: 30px;
  }
  .main-wrapper .register p a {
    padding: 10px 25px;
    font-size: 14px;
  }
  .main-wrapper .footer .footer-wrapper {
    padding: 0 2.5%;
  }
  .main-wrapper .footer .footer-wrapper .contact {
    width: 48%;
  }
  .main-wrapper .footer .footer-wrapper .contact p {
    width: 100%;
  }
  .main-wrapper .footer .footer-wrapper .newsletter {
    padding-top: 40px;
    width: 48%;
  }
  .main-wrapper .footer .footer-wrapper .newsletter .email {
    width: 100%;
  }
  .main-wrapper .footer .footer-wrapper .newsletter button {
    float: right;
    margin-top: 10px;
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .main-wrapper {
    grid-template-rows: 150px 1200px 2500px 200px 800px;
  }
  .main-wrapper section {
    padding: 0;
  }
  .main-wrapper .nav-link {
    padding: 20 2%;
  }
  .main-wrapper .nav-link a {
    padding: 10px 25px;
    font-size: 14px;
  }
  .main-wrapper .nav-link img {
    width: 30%;
  }
  .main-wrapper .community {
    padding: 25px 5%;
  }
  .main-wrapper .community .build {
    height: 30%;
  }
  .main-wrapper .community .build h1 {
    font-size: 30px;
  }
  .main-wrapper .community .build p {
    width: 100%;
  }
  .main-wrapper .community .image-wrapper {
    width: 100%;
    height: 30%;
  }
  .main-wrapper .community .image-wrapper img {
    width: 100%;
  }
  .main-wrapper .community .stats {
    height: 25%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .main-wrapper .community .stats ul li {
    font-size: 14px;
  }
  .main-wrapper .community .stats ul li img {
    width: 30px;
  }
  .main-wrapper .community .stats ul li span {
    font-size: 40px;
  }
  .main-wrapper .benefits .users-wrapper .border-top, .main-wrapper .benefits .grow-wrapper .border-top {
    background-image: url(images/bg-section-top-desktop-1.svg);
  }
  .main-wrapper .benefits .users-wrapper .border-bottom, .main-wrapper .benefits .grow-wrapper .border-bottom {
    background-image: url(images/bg-section-bottom-mobile-2.svg);
  }
  .main-wrapper .benefits .ben-wrappers {
    height: 100%;
  }
  .main-wrapper .benefits .ben-wrappers .conversation {
    flex-direction: column;
  }
  .main-wrapper .benefits .ben-wrappers article {
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 70%;
    padding: 0 2.5%;
  }
  .main-wrapper .benefits .ben-wrappers article .benefit-text {
    width: 100%;
    text-align: center;
  }
  .main-wrapper .benefits .ben-wrappers article .benefit-text h2 {
    font-size: 25px;
  }
  .main-wrapper .benefits .ben-wrappers article .image-wrapper {
    width: 100%;
  }
  .main-wrapper .register {
    padding: 0 2.5%;
  }
  .main-wrapper .register h2 {
    font-size: 30px;
  }
  .main-wrapper .register p a {
    padding: 10px 25px;
    font-size: 14px;
  }
  .main-wrapper .footer .footer-top {
    background-image: url(images/bg-footer-top-mobile.svg);
  }
  .main-wrapper .footer .footer-wrapper {
    flex-direction: column-reverse;
    padding: 0 2.5%;
  }
  .main-wrapper .footer .footer-wrapper .contact {
    width: 100%;
  }
  .main-wrapper .footer .footer-wrapper .contact p {
    width: 100%;
  }
  .main-wrapper .footer .footer-wrapper .newsletter {
    width: 100%;
  }
  .main-wrapper .footer .footer-wrapper .newsletter .email {
    width: 100%;
  }
  .main-wrapper .footer .footer-wrapper .newsletter button {
    float: right;
    margin-top: 10px;
    width: 50%;
  }
}

@media screen and (max-width: 375px) {
  .main-wrapper {
    grid-template-rows: 150px 1200px 2500px 200px 800px;
  }
  .main-wrapper section {
    padding: 0;
  }
  .main-wrapper .nav-link {
    padding: 20 2%;
  }
  .main-wrapper .nav-link a {
    padding: 10px 25px;
    font-size: 14px;
  }
  .main-wrapper .community {
    padding: 25px 5%;
  }
  .main-wrapper .community .build {
    height: 30%;
  }
  .main-wrapper .community .build h1 {
    font-size: 30px;
  }
  .main-wrapper .community .build p {
    width: 100%;
  }
  .main-wrapper .community .image-wrapper {
    width: 100%;
    height: 30%;
  }
  .main-wrapper .community .image-wrapper img {
    width: 100%;
  }
  .main-wrapper .community .stats {
    height: 25%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .main-wrapper .community .stats ul li {
    font-size: 14px;
  }
  .main-wrapper .community .stats ul li img {
    width: 30px;
  }
  .main-wrapper .community .stats ul li span {
    font-size: 40px;
  }
  .main-wrapper .benefits .users-wrapper .border-top, .main-wrapper .benefits .grow-wrapper .border-top {
    background-image: url(images/bg-section-top-desktop-1.svg);
  }
  .main-wrapper .benefits .users-wrapper .border-bottom, .main-wrapper .benefits .grow-wrapper .border-bottom {
    background-image: url(images/bg-section-bottom-mobile-2.svg);
  }
  .main-wrapper .benefits .ben-wrappers {
    height: 100%;
  }
  .main-wrapper .benefits .ben-wrappers .conversation {
    flex-direction: column;
  }
  .main-wrapper .benefits .ben-wrappers article {
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 70%;
    padding: 0 2.5%;
  }
  .main-wrapper .benefits .ben-wrappers article .benefit-text {
    width: 100%;
    text-align: center;
  }
  .main-wrapper .benefits .ben-wrappers article .benefit-text h2 {
    font-size: 25px;
  }
  .main-wrapper .benefits .ben-wrappers article .image-wrapper {
    width: 100%;
  }
  .main-wrapper .register h2 {
    font-size: 30px;
  }
  .main-wrapper .register p a {
    padding: 10px 25px;
    font-size: 14px;
  }
  .main-wrapper .footer .footer-top {
    background-image: url(images/bg-footer-top-mobile.svg);
  }
  .main-wrapper .footer footer-wrapper {
    flex-direction: column-reverse;
    justify-content: space-around;
    padding: 0 2.5%;
  }
  .main-wrapper .footer footer-wrapper .contact {
    width: 100%;
  }
  .main-wrapper .footer footer-wrapper .contact p {
    width: 100%;
  }
  .main-wrapper .footer footer-wrapper .newsletter {
    width: 100%;
    margin-bottom: 40px;
  }
  .main-wrapper .footer footer-wrapper .newsletter .email {
    width: 100%;
  }
  .main-wrapper .footer footer-wrapper .newsletter button {
    float: right;
    margin-top: 10px;
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */