/*COLORS*/
//primary
$pink: hsl(322, 100%, 66%);
$light-pink: hsl(321, 100%, 78%);
$red: hsl(0, 100%, 63%);
//Neutral
$cyan: hsl(192, 100%, 9%);
$blue: hsl(207, 100%, 98%);

/*FONTS*/
//headings
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$head: Poppins;
$head-weight: 700;
//body
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$body: "Open Sans";
$normal: 400;
$bold: 600;

body, html, *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $body;
    font-weight: $normal;
    resize: both;
    border: 1px solid red;
}
                        /*Page container*/
.main-wrapper{
    color: $cyan;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 1400px 2800px 300px 600px;
    grid-template-areas: "nav-link" "community" "benefits" "register" "footer";

    nav, section{
        padding: 50px 0;
    }
                        /*Navigation bar*/
    .nav-link{
        grid-area: nav-link;
        display: flex;
        justify-content: space-between;
        padding: 50px 5%;
        a{
            text-decoration: none;
            color: $pink;
            border: 1px solid $pink;
            padding: 10px 50px;
            border-radius: 40px;
            font-weight: $bold;
            &:hover, &:focus{
                border: 1px solid $light-pink;
                color: $light-pink;
            }
        }
    }
                    /*Legend or Build community introduction section*/
    .community{
        grid-area: community;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        padding: 50px 10%;
        .build{
            padding: 0 2.5%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 20%;
            text-align: center;
            h1{
                font-family: $head;
                font-weight: $head-weight;
                font-size: 60px;
            }
            p{
                width: 35%;
                a{
                    text-decoration: none;
                    color: white;
                    background-color:$pink;
                    padding: 10px 15%;
                    border-radius: 40px;
                    font-weight: $bold;

                    &:hover, &:focus{
                        background-color: $light-pink;
                    }
                }
            }
        }
        figure{
            height: 60%;
            display: flex;
            justify-content: center;
            image{
                width: 100%;
            }
        }
        .stats{
            padding: 0 2.5%;
            display: flex;
            justify-content: space-between;
            height: 15%;
            padding: 0 15%;
            ul{
                list-style: none;
                li{
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    img{
                        width: 50px;
                    };
                    span{
                        font-size: 70px;
                        font-weight: $head-weight;
                        font-family: $head;
                    }
                }
            }
        }
    }
                    /*-Benefits of product section*/
    .benefits{
        grid-area: benefits;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .users-wrapper, .grow-wrapper{
            .border-top{
                background-image: url(images/bg-section-top-desktop-1.svg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
            .border-bottom{
                background-image: url(images/bg-section-bottom-desktop-2.svg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                
            }
        }
        .ben-wrappers{
            width: 100%;
            .border-top, .border-bottom{
                width: 100%;
                height: 100px;
            }
            article{
                padding: 0 5%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                .benefit-text{
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    p{
                        margin-top: 20px;
                    }
                    h2{
                        font-size: 50px;
                        font-family: $head;
                        font-weight: $head-weight;
                    }
                }
                figure{
                    width: 50%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .users, .grow{
                background-color: $blue;
            }
        }
    }
                    /*Registration section*/
    .register{
        grid-area: register;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            font-size: 50px;
            font-weight: $head-weight;
            font-family: $head;
        }
        p{
            margin-top: 30px;
            a{
                text-decoration: none;
                color: white;
                background-color:$pink;
                padding: 15px 10%;
                border-radius: 40px;
                font-weight: $bold;

                &:hover, &:focus{
                    background-color: $light-pink;
                }
            }
        }
    }
                    /*Footer section*/
    .footer{
        grid-area: footer;
        padding-top: 50px;
        color: white;
        .footer-top{
            width: 100%;
            height: 20%;
            background-image: url(images/bg-footer-top-desktop.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        .footer-wrapper{
            padding: 0 5%;
            width: 100%;
            height: 75%;
            margin-bottom: 0;
            background-color: $cyan;
            display: flex;
            justify-content: space-between;
            .contact{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                p{
                    width: 45%;
                }
                .reach{
                    .phone{
                        list-style-image: url(images/icon-phone.svg);
                        list-style-position: inside;
                        a{
                            color: white;
                            text-decoration: none;
                        }
                    }
                    .mail{
                        list-style-image: url(images/icon-email.svg);
                        list-style-position: inside;
                        a{
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
                .socials{
                    li{
                        list-style: none;
                        display: inline;
                        a{
                            color: white;
                            text-decoration: none;
                            font-size: 30px;
                            margin-right: 10px;
                            &:hover, &:focus{
                                color: rgb(67, 67, 247);
                            }
                        }
                    }
                }
            }
            .newsletter{
                width: 50%;
                padding-top: 20px;
                h2{
                    font-family: $head;
                    font-weight: $bold;
                    margin-bottom: 20px;
                }
                p{
                    margin-bottom: 20px;
                }
                .email{
                    width: 60%;
                    height: 40px;
                    border-radius: 5px;
                    padding-left: 10px;
                }
                button{
                    height: 40px;
                    border: none;
                    width: 20%;
                    margin-left: 20px;
                    border-radius: 5px;
                    cursor: pointer;
                    background-color: $pink;
                    color: white;
                    font-family: $head;
                    font-weight: $bold;
                    &:focus, &:hover{
                        background-color: $light-pink;
                    }
                }
            }

        }
        .attribution {
            font-size: 11px;
            text-align: center;padding: 10px 0;
            background-color: $cyan;
            height: 5%;
            a {
             color: $pink;
            }
          }
    }
}

                    /*RESPONSIVESS FOR VARIOUS SCREEN SIZES*/

                  
@media screen and (min-width:1441px){
        .main-wrapper{
            grid-template-rows: 150px 1700px 2800px 300px 600px;
            .community{
                .build{
                    p{
                        width: 60%;
                    }
                }
            }
            
        }
}
@media screen and (min-width:1821px){
    .main-wrapper{
        grid-template-rows: 150px 2000px 3400px 300px 600px;                  
    }
}  
@media screen and (max-width:1440px){
        .main-wrapper{
            grid-template-rows: 150px 1800px 2800px 300px 600px;
            .community{
                .build{
                    p{
                        width: 50%;
                    }
                }
            }
            
        }
}
@media screen and (max-width:1280px){
        .main-wrapper{
            grid-template-rows: 150px 1200px 1800px 300px 600px;
            section{
                padding: 0;
            }
            
            .community{
                padding: 25px 5%;
                .build{
                    height: 30%;
                    h1{
                        font-size: 50px;
                    }
                    p{
                        width: 100%;
                    }
                }
                .image-wrapper{
                    width: 100%;
                    height: 50%;
                    img{
                        width: 100%;
                    }
                }
                .stats{
                    padding: 0;
                    ul{
                        li{
                            img{
                                width: 50px;
                            }
                            span{
                                font-size: 60px;
                            }
                        }
                    }
                }
            }
            .benefits{
                .ben-wrappers{
                    height: 100%;
                    article{
                        padding: 0 2.5%;
                        .benefit-text{
                            width: 48%;
                            text-align: center;
                            h2{
                                font-size: 35px;
                            }
                        }
                        .image-wrapper{
                            width: 48;
                        }
                    }
                }
            }
            .register{
                padding: 0 2.5%;
                h2{
                    font-size: 40px;
                }
                p{
                    a{
                        padding: 10px 25px;
                        font-size: 14px;
                    }
                }
            }
            .footer{
                .footer-wrapper{
                    padding: 0 2.5%;
                    .contact{
                        width: 48%;
                        p{
                            width: 100%;
                        }
                    }
                    .newsletter{
                        width: 48%;
                        .email{
                            width: 100%;
                        }
                        button{
                            float: right;
                            margin-top: 10px;
                            width: 50%;
                        }
                    }
                }
            }
        }
}
@media screen and (max-width:800px){
        .main-wrapper{
            grid-template-rows: 150px 1200px 1500px 300px 600px;
            section{
                padding: 0;
            }
            .nav-link{
                padding: 20 2%;
                a{
                    padding: 10px 25px;
                    font-size: 14px;
                }
                img{
                    width: 30%;
                }
            }
            .community{
                padding: 25px 5%;
                .build{
                    height: 30%;
                    h1{
                        font-size: 40px;
                    }
                    p{
                        width: 100%;
                    }
                }
                .image-wrapper{
                    width: 100%;
                    height: 50%;
                    img{
                        width: 100%;
                    }
                }
                .stats{
                    padding: 0;
                    ul{
                        li{
                            font-size: 14px;
                            img{
                                width: 40px;
                            }
                            span{
                                font-size: 50px;
                            }
                        }
                    }
                }
            }
            .benefits{
                .ben-wrappers{
                    height: 100%;
                    article{
                        padding: 0 2.5%;
                        .benefit-text{
                            width: 48%;
                            text-align: center;
                            h2{
                                font-size: 30px;
                            }
                        }
                        .image-wrapper{
                            width: 48;
                        }
                    }
                }
            }
            .register{
                padding: 0 2.5%;
                h2{
                    font-size: 30px;
                }
                p{
                    a{
                        padding: 10px 25px;
                        font-size: 14px;
                    }
                }
            }
            .footer{
                .footer-wrapper{
                    padding: 0 2.5%;
                    .contact{
                        width: 48%;
                        p{
                            width: 100%;
                        }
                    }
                    .newsletter{
                        padding-top: 40px;
                        width: 48%;
                        .email{
                            width: 100%;
                        }
                        button{
                            float: right;
                            margin-top: 10px;
                            width: 50%;
                        }
                    }
                }
            }
        }
}
@media screen and (max-width:480px){
        .main-wrapper{
            grid-template-rows: 150px 1000px 2000px 200px 800px;
            section{
                padding: 0;
            }
            .nav-link{
                padding: 20 2%;
                a{
                    padding: 10px 25px;
                    font-size: 14px;
                }
                img{
                    width: 30%;
                }
            }
            .community{
                padding: 25px 5%;
                .build{
                    height: 30%;
                    h1{
                        font-size: 30px;
                    }
                    p{
                        width: 100%;
                    }
                }
                .image-wrapper{
                    width: 100%;
                    height: 30%;
                    img{
                        width: 100%;
                    }
                }
                .stats{
                    height: 25%;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    ul{
                        li{
                            font-size: 14px;
                            img{
                                width: 30px;
                            }
                            span{
                                font-size: 40px;
                            }
                        }
                    }
                }
            }
            .benefits{
                .users-wrapper, .grow-wrapper{
                    .border-top{
                        background-image: url(images/bg-section-top-desktop-1.svg);
                    }
                    .border-bottom{
                        background-image: url(images/bg-section-bottom-mobile-2.svg);
                    }
                }
                .ben-wrappers{
                    height: 100%;
                    .conversation{
                        flex-direction: column;
                    }
                    article{
                        flex-direction: column-reverse;
                        justify-content: space-between;
                        height: 70%;
                        padding: 0 2.5%;
                        .benefit-text{
                            width: 100%;
                            text-align: center;
                            h2{
                                font-size: 25px;
                            }
                        }
                        .image-wrapper{
                            width: 100%;
                        }
                    }
                }
            }
            .register{
                padding: 0 2.5%;
                h2{
                    font-size: 30px;
                }
                p{
                    a{
                        padding: 10px 25px;
                        font-size: 14px;
                    }
                }
            }
            .footer{
                .footer-top{
                    background-image: url(images/bg-footer-top-mobile.svg);
                }
                .footer-wrapper{
                    flex-direction: column-reverse;
                    padding: 0 2.5%;
                    .contact{
                        width: 100%;
                        p{
                            width: 100%;
                        }
                    }
                    .newsletter{
                        width: 100%;
                        .email{
                            width: 100%;
                        }
                        button{
                            float: right;
                            margin-top: 10px;
                            width: 50%;
                        }
                    }
                }
            }
        }
}
@media screen and (max-width:375px){
        .main-wrapper{
            grid-template-rows: 150px 1200px 2500px 200px 800px;
            section{
                padding: 0;
            }
            .nav-link{
                padding: 20 2%;
                a{
                    padding: 10px 25px;
                    font-size: 14px;
                }
            }
            .community{
                padding: 25px 5%;
                .build{
                    height: 30%;
                    h1{
                        font-size: 30px;
                    }
                    p{
                        width: 100%;
                    }
                }
                .image-wrapper{
                    width: 100%;
                    height: 30%;
                    img{
                        width: 100%;
                    }
                }
                .stats{
                    height: 25%;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    ul{
                        li{
                            font-size: 14px;
                            img{
                                width: 30px;
                            }
                            span{
                                font-size: 40px;
                            }
                        }
                    }
                }
            }
            .benefits{
                .users-wrapper, .grow-wrapper{
                    .border-top{
                        background-image: url(images/bg-section-top-desktop-1.svg);
                    }
                    .border-bottom{
                        background-image: url(images/bg-section-bottom-mobile-2.svg);
                    }
                }
                .ben-wrappers{
                    height: 100%;
                    .conversation{
                        flex-direction: column;
                    }
                    article{
                        flex-direction: column-reverse;
                        justify-content: space-between;
                        height: 70%;
                        padding: 0 2.5%;
                        .benefit-text{
                            width: 100%;
                            text-align: center;
                            h2{
                                font-size: 25px;
                            }
                        }
                        .image-wrapper{
                            width: 100%;
                        }
                    }
                }
            }
            .register{
                h2{
                    font-size: 30px;
                }
                p{
                    a{
                        padding: 10px 25px;
                        font-size: 14px;
                    }
                }
            }
            .footer{
                .footer-top{
                    background-image: url(images/bg-footer-top-mobile.svg);
                }
                footer-wrapper{
                    flex-direction: column-reverse;
                    justify-content: space-around;
                    padding: 0 2.5%;
                    .contact{
                        width: 100%;
                        p{
                            width: 100%;
                        }
                    }
                    .newsletter{
                        width: 100%;
                        margin-bottom: 40px;
                        .email{
                            width: 100%;
                        }
                        button{
                            float: right;
                            margin-top: 10px;
                            width: 50%;
                        }
                    }
                }
            }
        }
}

